@import "vars";
@import "fonts";
@import "global";

.header__inner {
  z-index: 5;
  position: fixed;
  background-color: #fff;
}
.header__btn {
  position: fixed;
  top: 34px;
  left: 29px;
  width: 35px;
  height: 15px;
  cursor: pointer;
  z-index: 8;
  div {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      bottom: 0;
      width: 60%;
    }
  }
  &.active {
    div {
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        bottom: 13px;
        width: 100%;
        transform: rotate(45deg);
      }
    }
  }
}
.header__menu {
  width: 90px;
  height: 100vh;
  position: relative;
  box-shadow: 2px -1px 40px 0 rgba(65, 61, 61, 0.07);
  .header__logo {
    position: absolute;
    top: 94px;
    left: 33px;
    img {
      height: 37px;
    }
  }
  .header__text {
    position: absolute;
    background-color: #edf7fa;
    width: 215px;
    height: 90px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-50%);
    a {
      font-size: 12px;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 5px;
    }
  }
}
.header__menu-box {
  width: 500px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 6;
  transform: translateX(-100%);
  transition: all 0.5s;
  &.active {
    transform: translateX(0);
  }
}

.header__menu-wrapper {
  .header__menu-inner {
    padding: 135px 20px 135px 110px;
  }
}
.header__menu-info {
  position: absolute;
  bottom: 100px;
  a {
    color: #000;
  }
  .mail {
    margin-bottom: 8px;
    font-size: 16px;
    transition: all 0.3s;
    &:hover {
      color: #9abcc9;
    }
  }
  .neader__menu-address {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .header__menu-social {
    display: flex;
    li {
      transition: all 0.3s;
      &:hover a {
        color: #9abcc9;
      }
    }
    li + li {
      padding-left: 40px;
      margin-left: 10px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 1px;
        background-color: #000;
        left: 0;
        top: 50%;
      }
    }
  }
}
.header__menu-logo {
  margin-bottom: 75px;
  img {
    height: 38px;
    max-width: 100%;
  }
}
.header__menu-list {
  li {
    text-transform: uppercase;
    & + li {
      margin-top: 20px;
    }
  }
  a {
    font-family: "Oswald", sans-serif;
    color: #000;
    font-size: 15px;
    transition: all 0.3s;
    &:hover {
      color: #9abcc9;
    }
  }
}
.header__item-inner {
  text-align: center;
}
.header__title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 10px;
  font-size: 100px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.header__descr {
  font-size: 25px;
  max-width: 780px;
  line-height: 35px;
  margin: 0 auto;
  margin-bottom: 55px;
  span {
    font-weight: 700;
    font-style: italic;
  }
}

.header__item {
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  .header__designer {
    position: absolute;
    text-align: left;
    bottom: 110px;
    left: 150px;
  }
}
.header__mobile {
  display: none;
  padding: 0 50px;
  img {
    height: 38px;
  }
}
.nav__mobile{
  display: none;
  position: absolute;
  width: 100%;
  top: 75px;
  left: 0;
  text-align: center;
  z-index: 5;
  background-color: #fff;
  padding: 20px 0;
}

.header__mobile-btn {
  width: 40px;
  height: 10px;
  cursor: pointer;
  div {
    height: 4px;
    width: 30px;
    background-color: #000;
    transition: all 0.3s;
    & + div {
      margin-top: 5px;
    }
  }
  &:hover {
    div {
      background-color: #9abcc9;
    }
  }
}
.more {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 17px 35px;
  display: inline-block;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    border-radius: 50%;
    background-color: #bbb;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  &:hover {
    svg {
      opacity: 0;
      transform: translateY(-40%);
    }
    &::before {
      opacity: 1;
    }
  }
  svg {
    opacity: 1;
    width: 8px;
    margin-right: 10px;
    transition: 0.3s;
    path {
      fill: #fff;
    }
  }
}

.header__designer-object {
  font-family: "Oswald", sans-serif;
  letter-spacing: 4px;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header__designer-name {
  font-size: 14px;
  margin-bottom: 10px;
  span {
    font-style: italic;
    font-weight: 700;
  }
}
.header__designer-year {
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
}
.header__slider {
  position: relative;
  .slick-dots {
    position: absolute;
    right: 85px;
    bottom: 105px;
    display: flex;
    align-items: center;
    li:not(:first-child):not(:last-child) {
      margin-right: 15px;
    }
    li + li {
      margin-left: 15px;
    }
    li.slick-active {
      position: relative;
      padding-left: 110px;
      button {
        font-size: 16px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
      }
    }
    button {
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 13px;
      font-family: "Oswald", sans-serif;
      padding-left: 10px;
      position: relative;
      &::before {
        content: "0";
        position: absolute;
        left: 0;
      }
    }
  }
}

.interiors {
  padding-top: 150px;
  min-height: 1040px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border: 460px solid transparent;
    border-right: 460px solid $blue;
    border-bottom: 460px solid $blue;
    right: 0;
    bottom: 0;
    z-index: -2;
  }
  .interiors__title {
    position: absolute;
    bottom: 55px;
    left: 200px;
    font-size: 252px;
    color: $blue;
    font-weight: 700;
  }
}
.interiors__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .slick-slider {
    width: 615px;
  }
}
.interiors__info {
  max-width: 470px;
  .more {
    border: 1px solid #ddd;
    a {
      color: #000;
    }
    svg {
      path {
        fill: #bbb;
      }
    }
  }
}
.interiors__name {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
}
.interiors__text {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 45px;
}
.interiors__list {
  margin-bottom: 40px;
  li {
    padding-left: 20px;
    position: relative;
    & + li {
      margin-top: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: #000;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.interiors__items {
  .slick-dots {
    position: absolute;
    display: flex;
    transform: rotate(-90deg);
    top: 130px;
    left: -170px;
    align-items: center;
    li:not(:first-child):not(:last-child) {
      margin-right: 15px;
    }
    li + li {
      margin-left: 15px;
    }
    li.slick-active {
      position: relative;
      padding-left: 110px;
      button {
        font-size: 16px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: #000;
        left: 0;
        top: 50%;
      }
    }
    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: #000;
      font-size: 13px;
      font-family: "Oswald", sans-serif;
      position: relative;
      padding-left: 10px;
      &::before {
        content: "0";
        position: absolute;
        left: 0;
      }
    }
  }
}
.interiors__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 615px;
  height: 690px;
}

.video__inner {
  padding: 270px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 725px;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    width: 160px;
    height: 160px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    padding: 60px 50px;
    &::before {
      content: "";
      position: absolute;
      border: 20px solid transparent;
      border-top: 20px solid #fff;
      border-right: 20px solid #fff;
      transform: rotate(45deg);
    }
  }
}
.building {
  padding-top: 290px;
  min-height: 1000px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border: 506px solid transparent;
    border-left: 506px solid #edf7fa;
    border-top: 506px solid #edf7fa;
    left: 0;
    top: 0;
    z-index: -2;
  }
  .building__title {
    position: absolute;
    top: 25px;
    right: 85px;
    font-size: 245px;
    color: #edf7fa;
    font-weight: 700;
  }
}
.building__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}
.building__photo-inner {
  position: relative;
  .up {
    position: absolute;
    right: -60px;
    top: -55px;
  }
}
.building__name {
  text-transform: uppercase;
  font-size: 40px;
  color: #000;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.building__parameter {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}
.building__value {
  margin-bottom: 30px;
}
.features {
  padding-bottom: 120px;
}
.features__inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -115px;
}
.features__item {
  text-align: center;
  margin-left: 115px;
  flex-basis: calc(25% - 115px);
}
.features__number {
  width: 196px;
  height: 196px;
  border-radius: 50%;
  border: 5px solid $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 35px;
}
.features__name {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.features__descr {
  line-height: 23px;
}
.gallery__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery__item {
  position: relative;
  height: 600px;
  cursor: pointer;
  &--big {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    margin-bottom: 20px;
  }
  &--small {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 34%;
    margin-bottom: 20px;
  }
  .gallery__box {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    height: auto;
    color: #fff;
    padding: 30px 40px;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
  }
  &:hover {
    .gallery__box {
      transform: translateY(0);
      height: 105px;
      opacity: 1;
    }
  }
}
.gallery__place {
  color: #a0a0a0;
  margin-bottom: 8px;
}
.gallery__name {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
.blog__wrapper {
  position: relative;
  .blog__title {
    position: absolute;
    top: 25px;
    left: 200px;
    font-size: 245px;
    color: #edf7fa;
    font-weight: 700;
    z-index: -1;
  }
}
.blog__inner {
  padding-top: 180px;
  padding-bottom: 175px;
}
.blog__name {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #000;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
  }
}
.blog__descr {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 65px;
}
.blog__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -50px;
}
.blog__item {
  flex-basis: calc(33.3333% - 50px);
  margin-left: 50px;
  &-img {
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
  }
  &-date {
    font-size: 14px;
    margin-bottom: 15px;
  }
  &-name {
    margin-bottom: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
  }
  &-descr {
    line-height: 23px;
    margin-bottom: 40px;
  }
  .more {
    padding: 0;
    border: none;
    a {
      font-size: 14px;
      color: #000;
    }
    svg {
      path {
        fill: #bbb;
      }
    }
  }
}
.features-second {
  padding: 145px 0;
  background-image: url(../images/black_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.features-second__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-second__item {
  color: #fff;
  width: 25%;
  text-align: center;
}
.features-second__number {
  font-size: 47px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}
.features-second__name {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
.partners {
  padding-top: 100px;
  padding-bottom: 80px;
}
.partners__items {
  display: flex;
  justify-content: space-between;
}
.partners__item a {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 200px;
  height: 161px;
  transition: all 0.3s;
}
.partners__item--one a {
  background-image: url(../images/02-home-client-01.png);
  &:hover {
    background-image: url(../images/02-home-client-02.png);
  }
}
.partners__item--two a {
  background-image: url(../images/02-home-client-03.png);
  &:hover {
    background-image: url(../images/02-home-client-04.png);
  }
}
.partners__item--three a {
  background-image: url(../images/02-home-client-05.png);
  &:hover {
    background-image: url(../images/02-home-client-06.png);
  }
}
.partners__item--four a {
  background-image: url(../images/02-home-client-07.png);
  &:hover {
    background-image: url(../images/02-home-client-08.png);
  }
}
.flat {
  padding-top: 80px;
  padding-bottom: 185px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 450px solid transparent;
    border-right: 450px solid $blue;
    border-bottom: 450px solid $blue;
    z-index: -1;
  }
}
.flat__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tabs {
    text-align: center;
    width: 395px;
  }
  .tabs span {
    font-weight: 700;
    display: inline-block;
    margin-bottom: 50px;
    padding-left: 25px;
    margin-left: 15px;
    cursor: pointer;
    &.first {
      margin-left: 0;
    }
  }
  .photo {
    position: relative;
    &::before {
      content: "\e90d";
      font-weight: 400;
      font-family: "icomoon";
      position: absolute;
      left: 0;
    }
  }
  .video {
    position: relative;
    &::before {
      content: "\e914";
      font-family: "icomoon";
      font-weight: 400;
      position: absolute;
      left: 0;
    }
  }
  .video-360 {
    position: relative;
    &::before {
      content: "\e984";
      font-family: "icomoon";
      font-weight: 400;
      position: absolute;
      left: 0;
    }
  }
  img {
    display: block;
  }
}

.flat__slider-for {
  margin-bottom: 15px;
}
.flat__slider {
  width: 640px;
}

.slick-slide {
  outline: none;
}

.flat__slider-nav {
  margin-top: 15px;
}
.flat__slider-nav-item.slick-slide {
  width: 115px;
  margin: 0 5px;
}
.slider__nav {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 7px;
  width: 117px;
  height: 80px;
}
.slider__for {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  height: 435px;
}
.flat .tab-item.active-tab {
  display: block;
}
.flat .tab-item {
  display: none;
  .video__inner {
    width: 640px;
    min-height: 435px;
    height: 435px;
    padding: 0;
  }
}
.flat-form__inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 915px;
  width: 100%;
  padding: 180px 0;
}
.flat-form__box {
  max-width: 635px;
  width: 100%;
  padding: 90px;
  background-color: #fff;
}
.flat-form__box-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  color: #222;
  margin: 25px 0;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
.flat-form__box-text {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 40px;
}
.flat-form {
  input {
    display: block;
    border: none;
    border-bottom: 1px solid #222;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 10px;
    outline: none;
    &::placeholder {
      color: #222;
    }
  }
  textarea {
    resize: none;
    border: none;
    border-bottom: 1px solid #222;
    width: 100%;
    height: 30px;
    outline: none;
    margin-bottom: 40px;
    &::placeholder {
      color: #222;
    }
  }
  button {
    background-color: transparent;
    border: none;
  }
  .more {
    background-color: transparent;
    border: 1px solid #bbb;
    padding: 17px 35px;
    display: inline-block;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 45px;
      top: 50%;
      border-radius: 50%;
      background-color: #bbb;
      opacity: 0;
      transform: translateY(-50%);
      transition: 0.3s;
    }
    &:hover {
      i {
        opacity: 0;
        transform: translateY(-50%);
      }
      &::before {
        opacity: 1;
      }
    }
    i {
      opacity: 1;
      margin-right: 15px;
      transition: 0.3s;
      color: #bbb;
    }
  }
}

.model__wrapper {
  position: relative;
  .model__title {
    position: absolute;
    top: 25px;
    left: 200px;
    font-size: 245px;
    color: #edf7fa;
    font-weight: 700;
    z-index: -1;
  }
}
.model__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 310px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: -230px;
    top: 60px;
    background-image: url(../images/3d_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1712px;
    height: 800px;
    z-index: -1;
  }
}
.model__info {
  max-width: 500px;
}
.model__info-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: #222;
  margin: 25px 0;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
.model__text {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 30px;
}
.model {
  .more {
    a {
      color: #222;
    }
    border: 1px solid #bbb;
    &::before {
      content: "";
      left: 37px;
    }
    &:hover {
      i {
        opacity: 0;
        transform: translateY(-50%);
      }
      &::before {
        opacity: 1;
      }
    }
    i {
      opacity: 1;
      margin-right: 15px;
      transition: 0.3s;
      color: #bbb;
    }
  }
}
.model__img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 560px;
}
.inastagram__slider-item {
  width: 365px;
  height: 365px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inastagram__slider-box {
  position: relative;
  .slide__box {
    transition: all 300ms cubic-bezier(0.42, 0, 0.71, 0.33);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 365px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    .slide__box {
      opacity: 1;
      visibility: visible;
    }
  }
}
.inastagram__slider-box {
  i {
    font-size: 55px;
  }
}
.footer {
  background-color: #000;
  padding: 135px 0 50px;
}
.footer__form-title,
.footer__contact-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 50px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer__form {
  padding: 30px 0 90px;
  padding-right: 30px;
  max-width: 920px;
  width: 100%;
  border-right: 1px solid #494949;
  span {
    color: #fff;
  }
  input {
    border: none;
    border-bottom: 1px solid #494949;
    max-width: 770px;
    margin-bottom: 40px;
    padding-right: 20px;
    display: block;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    padding-bottom: 10px;
    outline: none;
    &::placeholder {
      color: #fff;
    }
  }
  button {
    border: none;
    display: block;
    background-color: transparent;
  }
  .more {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 17px 35px;
    display: inline-block;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 45px;
      top: 50%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transform: translateY(-50%);
      transition: 0.3s;
    }
    &:hover {
      i {
        opacity: 0;
        transform: translateY(-50%);
      }
      &::before {
        opacity: 1;
      }
    }
    i {
      opacity: 1;
      margin-right: 15px;
      transition: 0.3s;
      color: #fff;
    }
  }
}
.footer__contact {
  text-align: center;
  max-width: 230px;
  width: 100%;
  padding-left: 30px;
}
.footer__contact-inner {
  display: flex;
  justify-content: flex-start;
  margin-left: -55px;
  flex-wrap: wrap;
  a {
    flex-basis: calc(50% - 55px);
    margin-left: 55px;
    color: #fff;
    margin-bottom: 30px;
    transition: all 0.3s;
    &:hover {
      i {
        color: #9abcc9;
      }
    }
  }
  span {
    display: block;
  }
  i {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
  }
}
.foteer__info {
  i {
    color: #fff;
    margin-right: 10px;
  }
  a {
    margin-right: 40px;
    &:hover {
      color: #9abcc9;
      i {
        color: #9abcc9;
      }
    }
  }
  span {
    color: #fff;
  }
}
.footer__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  cursor: pointer;
  margin-right: 20px;
}

@import "media";
